* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

/* .country-info {
  display: flex;
  gap: 30px;
} */

.country-list li {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  
}

li img {
  width: 50px;
}

li p {
  font-weight: 600;
}

.country-heading-wrap {
  display: flex;
  gap: 20px;
  align-items: center;
}

.country-info p {
  font-weight: 800;
}

.country-info span {
  font-weight: normal;
}